<form
  class="filter"
  [formGroup]="formService.form"
  (keyup.enter)="onSubmit($event)"
>
  <div class="search">
    <rh-input-text
      name="filter"
      [placeholder]="searchInputPlaceholderText"
      [ariaLabel]="searchInputPlaceholderText"
      [value]="formService.getFieldValue('filter')"
      (valueUpdated)="updateFieldValue('filter', $event)"
    ></rh-input-text>
    <rh-button
      variant="icon"
      ion-icon-name="search"
      (clicked)="onSubmit($event)"
    ></rh-button>
  </div>
  <div class="items-per-page-select">
    <span id="items-per-page">Items por página:</span>
    <rh-select
      aria-describedby="items-per-page"
      name="itemsPerPage"
      [options]="options"
      [value]="formService.getFieldValue('itemsPerPage')"
      (valueSelected)="updateFieldValue('itemsPerPage', $event)"
    ></rh-select>
  </div>
</form>
