<div class="container">
  <app-action-header
    actionButtonLabel="Cadastrar"
    [breadcrumbsPaths]="breadcrumbsPaths"
    [headerTitle]="headerTitle"
    [isActionButtonDisabled]="isActionButtonDisabled"
    (actionButtonClicked)="actionButtonClicked.emit()"
  ></app-action-header>
  <div class="content">
    <app-action-list-filter
      (filteredData)="filterData($event)"
    >
    </app-action-list-filter>
    <rh-action-list
      [items]="items"
      [fieldConfigs]="fieldConfigs"
    ></rh-action-list>
  </div>
  <div class="pagination">
    <rh-pagination [total]="20">
    </rh-pagination>
  </div>
</div>
