@import "../../../theme/mixins/default-content-container";
@import "../../../theme/partials/colors";
@import "../../../theme/mixins/media-breakpoint";

@include defaultContentContainer(calc(100vh - 15rem));

.content {
  &__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint("medium") {
      flex-direction: column;
    }

    .search,
    .items-per-page-select {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .search > rh-button,
    .items-per-page-select {
      padding-bottom: 1rem;
    }

    .search > rh-input-text {
      width: 20vw;

      @include media-breakpoint("medium") {
        width: 100%;
      }
    }

    .items-per-page-select {
      color: $gray-dark;
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
}
