$primary: #4979C0;
$primary-accent: #30558C;
$primary-dark: #1D3354;
$primary-light: #82A3D4;
$primary-lighter: #BBCDE7;
$primary-extra-light: #F4F7FB;

$secondary: #3BF4FB;
$secondary-accent: #3BF4FB;
$secondary-dark: #05DEE6;
$secondary-light: #87F8FD;
$secondary-lighter: #D2FCFE;
$secondary-extra-light: #F5FEFF;

$tertiary: #F46036;
$tertiary-accent: #D0370B;
$tertiary-dark: #872407;
$tertiary-light: #F8987C;
$tertiary-lighter: #FCD1C5;

$red: #FB1313;
$red-accent: #BF0303;
$red-dark: #730202;
$red-light: #FC5F5F;
$red-lighter: #FEAAAA;

$gray: #858A99;
$gray-accent: #5F6472;
$gray-dark: #3D4049;
$gray-light: #AEB2BC;
$gray-lighter: #D8DADE;

$button-disabled-bg: #ccc;
$button-disabled-fg:#909090;

$font-primary: #1D3354;
$font-secondary: #05DEE6;
$font-tertiary: #872407;
$font-red: #730202;
$font-gray: #3D4049;

$white: #fff;
