@import "../partials/colors";
@import "./media-breakpoint.scss";

@mixin defaultContentContainer($content-min-height: calc(100vh - 10rem)) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1250px;
    height: calc(100vh - 5rem);

    @include media-breakpoint("small") {
      height: auto;
    }

    .content {
      min-height: $content-min-height;
      gap: 1rem;
      overflow: auto;
      background-color: $white;
      border-radius: 8px;
      padding: 1.5rem;

      @include media-breakpoint("medium") {
        padding: 0.5rem 1rem;
      }

      @include media-breakpoint("small") {
        min-height: auto;
        overflow: initial;
      }
    }
  }
}
