@import "../../../theme/partials/colors";
@import "../../../theme/mixins/media-breakpoint";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1250px;
  height: calc(100vh - 5rem);

  .content {
    min-height: calc(100vh - 10rem);
    gap: 1rem;
    overflow: auto;
    background-color: $white;
    border-radius: 8px;
    padding: 1.5rem;

    @include media-breakpoint("medium") {
      padding: 0.5rem 1rem;
    }

    @include media-breakpoint("small") {
      overflow: initial;
    }
  }
}
